<h1>My Project</h1>

<div>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active" ><a routerLink="emp">Employee Details</a></li>
        <li routerLinkActive="active" ><a routerLink="birds">Birds Info</a></li>
        <li routerLinkActive="active"><a routerLink="res">Res Data</a></li>
        <li routerLinkActive="active"><a routerLink="reactive">Reactive Form</a></li>
        <li routerLinkActive="active"><a routerLink="curd">Curd Operation</a></li>
    </ul>
</div>

<router-outlet></router-outlet>


 <!-- <app-employee></app-employee>  -->
<!-- <app-httpclientcomponent></app-httpclientcomponent> -->


